<h1 style="text-align:left;color:brown">
    Getting Started With Python üêç
    <span style="float:right;font-size:medium">
      [ notebook : 004 ] üü°üî¥
    </span>
</h1>
<span style="float:right;font-size:medium"><tt>Code by : Jayadev Patil</tt></span>

### <u><strong>Python Basics</strong></u><span style="float:right;font-size:medium"><a href='https://github.com/jayadevnpatil'>github</a></span>
This notebook covers <strong>Python Variables</strong>

*Def :* Variables are used for storing data values, python doesn't have commands for declaring variable
* different datatypes : String, Int, Float, Bool, Complex
* print variables within a string
* type conversions
* global **vs** local
* ord() & chr()

<strong style="text-align:left;color:green">Note : This code can be copied and reproduced for educational purposes.</strong>

-------------------------------------------------------------------------------------------------------------------
### 4.1 Variables

In [1]:
name = 'Bablu'
age = 15
percentile = 62.5
passed = True
hyp = 5 + 4j

#### <strong><tt>type()</tt></strong> of variables

In [2]:
print(type(name))
print(type(age))
print(type(percentile))
print(type(passed))
print(type(hyp))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

------------------------------------------------------------------------------------------------------------------
### 4.2 Print variables inside a string

The <strong>%</strong> followed by <strong>literals</strong> are used to access the specific data type within a print statement.

Char_seq | Datatype
-----------|----------
 %s | string
 %d | Integer
 %f | Float

In [3]:
name = 'Bablu'
age = 15
s1, s2, s3 = 76.5, 88.0, 74.5

print('Student Details')
print('---------------')
print('Name : %s'% name)
print('Age : %d'% age)

# for multiple variables use paranthesis
print('Physics : %f | Chemistry : %f | Mathematics : %f'% (s1, s2, s3))

Student Details
---------------
Name : Bablu
Age : 15
Physics : 76.500000 | Chemistry : 88.000000 | Mathematics : 74.500000

Char_seq | Datatype
-----------|----------
 %d | Integer
 %f | Float
 %o | Octal
 %x | Hexadecimal
 %e | exponential

In [4]:
n = 17
print('Int   : %d'%n)
print('Float : %f'%n)
print('Oct   : %o'%n)
print('Hex   : %x'%n)
print('Exp   : %e'%n)

Int   : 17
Float : 17.000000
Oct   : 21
Hex   : 11
Exp   : 1.700000e+01

------------------------------------------------------------------------------------------------------------------
### Task

*Take the* <strong><tt>input()</tt></strong> 8 from the user and multiply it by <strong>10</strong> to get 80.

In [5]:
n = input()
print(n*10)

 8

8888888888

-------------------------------------------------------------------------------------------------------------------
### 4.3  thought output should've been 80 ? ü§î

Here is the importance of <strong><tt>type conversion.</tt></strong>
* The <strong><tt>input()</tt></strong> function reads the input in  <strong>string</strong> format.
* It needs to be type converted before multiplying

*Note : names of variables can be reused*

In [6]:
n = input()
n = int(n)
print(n*10)

 8

80

In [7]:
print(int('12'))
print(int(22.4))

12
22

------------------------------------------------------------------------------------------------------------------
### 4.4 global vs local 

* **global** variable has the scope over entire main body, can be accessed anywhere
* The scope and def of **local** variable is limited only within the block in which it is declred.

Observe below üëá, variable **b = bat** was limited only within **func()**

In [8]:
a = 'apple'    # scope : global
b = 'ball'     # scope : global

def func():
    b = 'bat'  # scope : local
    print('Inside function  : ',a,b)
    
func()
print('Outside function : ',a,b)

Inside function  :  apple bat
Outside function :  apple ball

------------------------------------------------------------------------------------------------------------------
### 4.5 ord() & chr()
* **chr( )** is used to convert ASCII to its alphabet.
* **ord( )** is used to convert alphabet to ASCII

In [9]:
print(chr(106))
print(ord('J'))

j
74