<h1 style="text-align:left;color:brown">
    Getting Started With Python üêç
    <span style="float:right;font-size:medium">
      [ notebook : 010 ] üü°üî¥
    </span>
</h1>
<span style="float:right;font-size:medium"><tt>Code by : Jayadev Patil</tt></span>

### <u><strong>Python Basics</strong></u><span style="float:right;font-size:medium"><a href='https://github.com/jayadevnpatil'>github</a></span>
This notebook covers <strong>List Data Strucure</strong>
<hr>

<strong style="text-align:left;color:green">Note : This code can be copied and reproduced for educational purposes.</strong>
<hr>


### 8.1 List Basics

List is a sequence of data enclosed in **square brackets**, each element can be accessed using it's index value.

In [1]:
# Valid declarations
l1 = []
l2 = list()

Lists could be homogeneous or heterogeneous

In [2]:
# Homogeneous List
l1 = [1, 2, 3, 4, 5]
l2 = ['a', 'b', 'c', 'd']
l3 = ['air', 'earth', 'water']

In [3]:
# Heterogeneous List
l4 = [1, 'a', 'earth']
l5 = [12, 3.45, True, 'fire', [10, 20, 30]]

Lists can be concatenated using '+' operator

In [4]:
# list concatenation
l6 = [1, 2, 3, 4]
l7 = [5, 6, 7, 8]
print(l6 + l7)

[1, 2, 3, 4, 5, 6, 7, 8]

------------------------------------------------------------------------------------------------------------------
#### 8.1.1 <strong><tt>len()</tt></strong> function & membership operators
Length of the list is number of elements inside that is

In [5]:
f = ['apple', 'orange','guava','mango']
print(len(f))

4

Membership operator checks if element is present in list.

In [6]:
print('apple' in f)
print('cherry' in f)

True
False

------------------------------------------------------------------------------------------------------------------
#### 8.1.2 List Indexing

A string can be converted into a list by using the **list()** function.

In [7]:
a = 'hello'
print(list(a))

['h', 'e', 'l', 'l', 'o']

In python indexing starts from 0.

| | apple | orange | guava | mango |
|---|-------|----------|----------|--------|
|Forward indexing| 0 | 1 | 2 | 3 |
|Reverse indexing| -4 | -3 | -2 | -1 |

In [8]:
f = ['apple', 'orange','guava','mango']
print(f[3])
print(f[-2])
print(f[1][:3])
print(f[2:])
print(f[:3])

mango
guava
ora
['guava', 'mango']
['apple', 'orange', 'guava']

------------------------------------------------------------------------------------------------------------------
#### 8.1.3  List slicing
<tt>[start : end : update]</tt>

In [9]:
n = [0,1,2,3,4,5,6,7,8,9]

print(n[0:4])
print(n[4:])
print(n[:9:3])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]
[0, 3, 6]

------------------------------------------------------------------------------------------------------------------
#### 8.1.4 <tt>min(), </tt><tt>max()</tt> functions
* <tt>min() :</tt> List of elements as
  - **integers** it returns minimum value.
  - **strings** it returns a string whose first element ASCII value is the lowest
   
* <tt>max() :</tt> List of elements as
  - **integers** it returns maximum value.
  - **strings** it returns a string whose first element ASCII value is the highest

In [10]:
n = [0,1,2,3,4,5,6,7,8,9]
s = ['Earth','Air','Fire','Water']

print(max(n))
print(min(n))

print(max(s))
print(min(s))

9
0
Water
Air

* But if you want to find the **max( ) / min( )** string element based on the length, another parameter **'key=len'**
* When lengths of 2 element are equal, first occured is printed

In [11]:
print(max(s, key=len))
print(min(s, key=len))

Earth
Air

------------------------------------------------------------------------------------------------------------------
#### 8.1.5  Some List methods

| Method | Usage |
|----------|-------|
|index()| used to find the index value of a particular element |
|count()|used to count the number of occurance of particular element |

In [12]:
l1 = [1, 1, 4, 5, 7]
print(l1.index(7))
print(l1.count(1))

4
2

| Method | Usage |
|----------|-------|
|append()|used to add an element at the end of the list|
|extend()|used to add an element at the end of the list similar to concat|

In [13]:
l1 = [1, 2, 3, 4, 5]
l2 = [1, 2, 3, 4, 5]
l3 = [6, 7, 8]

l1.append(l3)
l2.extend(l3)

print(l1)
print(l2)

[1, 2, 3, 4, 5, [6, 7, 8]]
[1, 2, 3, 4, 5, 6, 7, 8]

| Method | Usage |
|----------|-------|
|insert()|**insert(x,y)** is used to insert a element y at a specified index value x|

Note : 
- append() insert element only at end of list, as seen above.
- insert() anywhere in the list
- while replacing is done through indexing

In [14]:
# INSERT
l1 = [1, 2, 3, 4, 5]
l1.insert(3, 'P')
print(l1)

[1, 2, 3, 'P', 4, 5]

In [15]:
# REPLACE
l1 = [1, 2, 3, 4, 5]
l1[3] = 100    
print(l1)

[1, 2, 3, 100, 5]

| Method | Usage |
|----------|-------|
|pop()| used to remove element based on it's index value|
|del | used to remove element based on it's index value
|remove()|remove element by specifying the element itself |
|clear() | resets back to an empty list |

In [16]:
# POP
l1 = [1, 2, 3, 4, 5, 'python', 'cat']
print(l1.pop())   # default : pop's an element from the end of list
print(l1.pop(2))  # pop's at a particular index

print(l1)

cat
3
[1, 2, 4, 5, 'python']

In [17]:
# DEL
l1 = [1, 2, 3, 4, 5, 'python', 'cat']
del l1[5]
print(l1)

[1, 2, 3, 4, 5, 'cat']

In [18]:
# REMOVE
l1 = [1, 2, 3, 4, 5, 'python', 'cat']
l1.remove('python')
print(l1)

[1, 2, 3, 4, 5, 'cat']

In [19]:
# CLEAR
l1 = [1, 2, 3, 4, 5, 'python', 'cat']
l1.clear()
print(l1)

[]

| Method | Usage |
|----------|-------|
|reverse()| entire elements present in the list can be reversed |
|sort()| sorts the array in ascending/ descending order |

In [20]:
l1 = [1, 2, 3, 4, 5, 'python', 'cat']
l1.reverse()
print(l1)

['cat', 'python', 5, 4, 3, 2, 1]

In [21]:
l1 = [10, 16, 9, 22, 1, 97]
l1.sort()
print(l1)
l1.sort(reverse = True)
print(l1)

[1, 9, 10, 16, 22, 97]
[97, 22, 16, 10, 9, 1]

In [22]:
s = [ 'Earth', 'Air', 'Water', 'Fire']
s.sort()
print(s)
s.sort(reverse = True)
print(s)

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

------------------------------------------------------------------------------------------------------------------
### 8.2 Copying a List 

Consider the below example

In [23]:
la = ['a', 'b', 'c', 'd']
lb = la # assume we copied the list

la.remove('a')
print(lb)

['b', 'c', 'd']

Even though the element is removed from **la**, its reflected in **lb**. 

------------------------------------------------------------------------------------------------------------------
### WHY ? ü§î

Because **la** and **lb** are pointing to same memory location.Hence you can use üëá

In [24]:
la = ['a', 'b', 'c', 'd']
lb = la[:] # or
lc = la.copy()

la.remove('a')
print(la)
print(lb)
print(lc)

['b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']