<h1 style="text-align:left;color:brown">
    Getting Started With Python üêç
    <span style="float:right;font-size:medium">
      [ notebook : 011 ] üü°üî¥
    </span>
</h1>
<span style="float:right;font-size:medium"><tt>Code by : Jayadev Patil</tt></span>

### <u><strong>Python Basics</strong></u><span style="float:right;font-size:medium"><a href='https://github.com/jayadevnpatil'>github</a></span>
This notebook covers <strong>Tuple Data Strucure</strong>
<hr>
<strong style="text-align:left;color:green">Note : This code can be copied and reproduced for educational purposes.</strong>
<hr>


### 9.1 Tuple Basics
Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed.

Therefore the  <tt>tuple()</tt> datastructure is called immutable.

In [1]:
# Valid declarations
t1 = ()
t2 = tuple()

In [9]:
# To declare single element tuple
t3 = (15)
t4 = (15, )
print(type(t3))
print(type(t4))

<class 'int'>
<class 'tuple'>

In [3]:
# Create tuples
t5 = tuple([1, 2, 3])    # from list
t6 = tuple('hello')      # from string

print(t5)
print(t6)

(1, 2, 3)
('h', 'e', 'l', 'l', 'o')

Tuples could be homogeneous or heterogeneous

In [4]:
# Homogeneous Tuple
t1 = (1, 2, 3, 4, 5)
t2 = ('a', 'b', 'c', 'd')
t3 = ('air', 'earth', 'water')

In [5]:
# Heterogeneous Tuple
t4 = (1, 'a', 'earth')
t5 = (12, 3.45, True, 'fire', (10, 20, 30))

Tuples can be concatenated using '+' operator

In [6]:
# tuple concatenation
t6 = (1, 2, 3, 4)
t7 = (5, 6, 7, 8)
print(t6 + t7)

(1, 2, 3, 4, 5, 6, 7, 8)

------------------------------------------------------------------------------------------------------------------
#### 9.1.1 <strong><tt>len()</tt></strong> function & membership operators
Length of the tuple is number of elements inside that is

In [7]:
f = ('apple', 'orange','guava','mango')
print(len(f))

4

Membership operator checks if element is present in list.

In [8]:
print('apple' in f)
print('cherry' in f)

True
False

------------------------------------------------------------------------------------------------------------------
#### 9.1.2 Tuple Indexing
In python indexing starts from 0.

| | apple | orange | guava | mango |
|---|-------|----------|----------|--------|
|Forward indexing| 0 | 1 | 2 | 3 |
|Reverse indexing| -4 | -3 | -2 | -1 |

In [12]:
f = ('apple', 'orange','guava','mango')
print(type(f))
print(f[3])
print(f[-2])
print(f[1][:3])
print(f[2:])
print(f[:3])

<class 'tuple'>
mango
guava
ora
('guava', 'mango')
('apple', 'orange', 'guava')

------------------------------------------------------------------------------------------------------------------
#### 9.1.3  Tuple slicing
<tt>[start : end : update]</tt>

In [13]:
n = (0,1,2,3,4,5,6,7,8,9)

print(n[0:4])
print(n[4:])
print(n[:9:3])

(0, 1, 2, 3)
(4, 5, 6, 7, 8, 9)
(0, 3, 6)

------------------------------------------------------------------------------------------------------------------
#### 9.1.4 What if we want to change the value ü§î

In [14]:
n = (0,1,2,3,4,5,6,7,8,9)

n[4] = 100

TypeError: 'tuple' object does not support item assignment

If it requires to make any changes to **tuple**, it needs to be converted to **list**, make modification and convert back to **tuple**.

In [ ]:
n = (0,1,2,3,4,5,6,7,8,9)
n = list(n)
n[4] = 100
n = tuple(n)
print